@use "../../theme/base" as base;

.product-container {
  position: relative;
  width: 254px;
}

.product-image-container {
  text-align: center;
  position: relative;
  border-radius: 7px;
  border: 1px solid;
  border-color: #e5e5e5;
  max-width: 224px;
max-height: 332px;
}

.product-property-container {
  top: 9px;
}

.product-property-container p {
  font-family: base.$textFont;
  font-size: 12px;
  line-height: 18px;
  color: base.$primaryTextColor;
}

.product-property-container span {
  font-weight: 700;
}

.property-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.property {
  margin-top: -10px;
}

.product-price-container {
  top: 13px;
}

.discounted-price {
  width: 159px;
  height: 17px;
  left: 320px;
  top: 615px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.price {
  left: 320px;
  top: 632px;

  font-family: base.$textFont;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #9b9b9b;
}

.discount-rate {
  margin-top: 13.2px;
  margin-left: 5px;
  display: inline-flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #f90000;
}

.product-price-container div {
  display: flex;
  margin-top: -27px;
}
